.restaurant-list{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    padding: 20px;
    
}
.card{
    background-color: rgb(255, 242, 242);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-left: 65px;
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    transition: 0.1s;
}
.card:hover{
    /* scale: 1.01; */
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.2);
}
.card img{
    max-width: 100%;
}
.card span h4:nth-child(1) {
    color: green;
}
.card span h4:nth-child(2) {
    color: rgb(128, 41, 0);
 }
.card span h4:nth-child(3) {
    color: rgb(128, 0, 0);
}
      