.firfoot{
    margin-top: 100px;
    height: 100px;
    background-color: rgb(115, 108, 136);
}
.firfoot h3{
    padding-top: 35px;
    text-align: center;
    justify-content: center;
    color: antiquewhite;

}